/* Principal */
QWindow {background:#282828}
QWidget {background:#383838}
QWidget * {color:#ddd}

/* Barre de menu */
QMenuBar::item::selected {background:#308CC6;}
QMenu::item::enabled::selected {background:#308CC6;}
QMenu::item::disabled {color:#000}

/* Boites de dialogue */
/*QFileDialog, QFileDialog * {background:auto; color:auto}
QFileDialog QPushButton {background:auto; color:auto;}*/

/* Buttons */
QPushButton {color:#eee; background:#484848}
QPushButton::disabled {color:#383838}

/* AnimationExplorer */
AnimationsExplorer::disabled {color:#000;}
AnimationsExplorer::item {height:20px; line-height:20px;}

/* AnimationParameters */
AnimationParameters QLabel::disabled,
AnimationParameters QLineEdit::disabled,
AnimationParameters QSpinBox::disabled,
AnimationParameters QCheckBox::disabled {color:#000}

/* SpritePicker*/
FramePicker {background:#A8A8A8}
FramePicker > QPushButton {margin:20px; padding:4px 6px}
